.passwordDiv {
  display: none;
}

input:focus,
input:active {
  box-shadow: none !important;
  border: 1px solid #1070ca !important;
  outline: none !important;
  display: block;
}

input:focus + .passwordDiv {
  display: block;
}

.fileChoice {
  padding-top: 2px !important;
}
