body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  /* font-size: 16px; */
  font-size: 100% !important;
}

input:focus,
input:active {
  box-shadow: none !important;
  border: 1px solid #1070ca !important;
  outline: none !important;
  display: block;
}
/* .slider {
  width: 10rem !important;
} */

/* .slider:hover {
  transform: translateX(3rem);
} */

.linkTag {
  color: white !important;
}
.linkTag:hover {
  text-decoration: none;
  color: #e76f51 !important;
  transform: scale(0.8);
}

.image:hover {
  transform: scale(1.2);
  color: white !important;
}

.add {
  text-decoration: none;
  color: #e76f51 !important;
}

.add:hover {
  transform: scale(1.4);
  color: #b04328 !important;
}

.newEntry:hover {
  text-decoration: none !important;
  /* transform: scale(0.9); */
  /* transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); */
}
